html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0 25px;
  background: linear-gradient(#e6f0fd, #b0cdef);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h2,
h3 {
  all: unset;
}
